[submodule "godot-accessibility.git"]
	path = godot-accessibility.git
	url = https://gitlab.com/lightsoutgames/godot-accessibility
[submodule "addons/godot-accessibility"]
	path = addons/godot-accessibility
	url = https://github.com/lightsoutgames/godot-accessibility
